
Zadanie/Zadanie/obj/Debug/net5.0/Razor/Views/Form/Created.cshtml.g.cs
Zadanie/Zadanie/obj/Debug/net5.0/ref/Zadanie.dll
Zadanie/Zadanie/obj/Debug/net5.0/Zadanie.csprojAssemblyReference.cache
Zadanie/Zadanie/obj/Debug/net5.0/Zadanie.dll
Zadanie/Zadanie/obj/Debug/net5.0/Zadanie.pdb
Zadanie/Zadanie/obj/Debug/net5.0/Zadanie.Views.dll
Zadanie/Zadanie/obj/Debug/net5.0/Zadanie.Views.pdb
Zadanie/Zadanie/bin/Debug/net5.0/Zadanie.Views.pdb
Zadanie/Zadanie/bin/Debug/net5.0/Zadanie.Views.dll
Zadanie/Zadanie/bin/Debug/net5.0/Zadanie.runtimeconfig.json
Zadanie/Zadanie/bin/Debug/net5.0/appsettings.Development.json
Zadanie/Zadanie/bin/Debug/net5.0/appsettings.json
Zadanie/Zadanie/bin/Debug/net5.0/ref/Zadanie.dll
Zadanie/Zadanie/bin/Debug/net5.0/Zadanie.deps.json
Zadanie/Zadanie/bin/Debug/net5.0/Zadanie.dll
Zadanie/Zadanie/bin/Debug/net5.0/Zadanie.exe
Zadanie/Zadanie/bin/Debug/net5.0/Zadanie.pdb
Zadanie/Zadanie/bin/Debug/net5.0/Zadanie.runtimeconfig.dev.json
Zadanie/Zadanie/obj/Debug/net5.0/Razor/Views/Form/Created.cshtml.g.cs
Zadanie/Zadanie/obj/Debug/net5.0/Zadanie.Views.dll
Zadanie/Zadanie/obj/Debug/net5.0/Zadanie.Views.pdb
Zadanie/Zadanie/obj/Debug/net5.0/Zadanie.dll
